* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.compound-interest-daily {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  max-width: 30vw;
  min-width: 25vw;
  border: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

label, input, button {
  margin-bottom: 10px;
}

label {
  margin-top: 5px;
}

input {
  height: 30px;
  padding: 8px;
  font-size: 1.05rem;
}

button {
  height: 30px;
  margin-top: 15px;
}

#result {
  font-size: 1.2rem;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    /* Styles for mobile view */
  body {
    align-items: flex-start;
    padding: 10px;
  }

  .compound-interest-daily {
    width: 95vw;
  }
  
  form {
    max-width: 95vw;
    width: 100%;
  }

}
